/*Mobile*/

nav ul {
	display: none;
}

#hamburger {
	float: right;
}

nav {
	background-color: black;
	max-width: 1000px;
	margin: 0 auto;
}

img {
	max-width: 100%;
}

#featured img {
	display: block;
	margin: 0 auto;
}

main {
	max-width: 1000px;
	margin: 0 auto;
}

.latest img {
	margin: 0 auto;
	display: block;
}













/*Tablet, Desktop*/

@media all and (min-width: 480px) {

	nav ul {
		display: block;
		text-align: right;
	}

	#hamburger {
		display: none;
	}

	nav img:not(#hamburger) {
		float: left;
	}

	nav li {
		display: inline-block;
		line-height: 50px;
		margin: 0 10px;
	}

	nav li a {
		color: white;
		text-decoration: none;
	}
}

@media all and (min-width: 550px) {

	.latest img {
		float: left;
		margin-right: 10px;
	}

	.latest {
		margin-bottom: 40px;
	}

	.latest:after {
		content: '';
		display: block;
		clear: both;
	}
}

/*Desktop*/

@media all and (min-width: 780px) {

	#featured img {
		float: left;
		width: 60%;
		margin-right: 10px;
	}

	#featured div {
		width: 38%;
		float: right;
	}

	#featured:after {
		content: '';
		display: block;
		clear: both;
	}


}

@media all and (min-width: 960px) {

	.latest img {
		float: none;
		margin: 0;
	}

	.latest {
		width: 33%;
		float: left;
		padding: 20px;
		box-sizing: border-box;
	}
}

















